In [1]:
import pandas as pd
import numpy as np

In [2]:
metadata = pd.read_csv('airflow/data/movies_metadata.csv')

C:\Users\ETUDIANT\AppData\Local\Temp\ipykernel_25948\3549176765.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('airflow/data/movies_metadata.csv')

In [3]:
metadata

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [6]:
metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [8]:
credits = pd.read_csv('airflow/data/credits.csv')

In [9]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [10]:
metadata['release_date']

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45466, dtype: object

In [11]:
metadata['release_date'] = pd.to_datetime(metadata['release_date'], errors='coerce')

In [12]:
metadata['year'] = metadata['release_date'].dt.year

In [15]:
meta = metadata.loc[metadata.year <= 2017,['id','title','genres','year']]

In [16]:
meta

,id,title,genres,year
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995.0
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995.0
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995.0
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995.0
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995.0
...,...,...,...,...
45460,30840,Robin Hood,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",1991.0
45462,111109,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",2011.0
45463,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2003.0
45464,227506,Satan Triumphant,[],1917.0
45465,461257,Queerama,[],2017.0

In [23]:
meta.shape

(45370, 4)

In [24]:
metadata.shape

(45466, 25)

In [28]:
meta['id'] = meta['id'].astype(int)

In [29]:
data = pd.merge(meta, credits, on='id')

In [31]:
data['year'] = data['year'].astype(int)

In [32]:
meta

,id,title,genres,year
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995
...,...,...,...,...
45460,30840,Robin Hood,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",1991
45462,111109,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",2011
45463,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2003
45464,227506,Satan Triumphant,[],1917
45465,461257,Queerama,[],2017

In [33]:
data

,id,title,genres,year,cast,crew
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...
45440,30840,Robin Hood,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",1991.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de..."
45441,111109,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",2011.0,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
45442,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2003.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
45443,227506,Satan Triumphant,[],1917.0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45444,461257,Queerama,[],2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [34]:
data['year'] = data['year'].astype(int)

In [35]:
data

,id,title,genres,year,cast,crew
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...
45440,30840,Robin Hood,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",1991,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de..."
45441,111109,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",2011,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
45442,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2003,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
45443,227506,Satan Triumphant,[],1917,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45444,461257,Queerama,[],2017,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [36]:
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [37]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [38]:
data['genre'] = data['genres'].map(lambda x: make_genresList(x))

In [39]:
data['genre']

0         Animation Comedy Family
1        Adventure Fantasy Family
2                  Romance Comedy
3            Comedy Drama Romance
4                          Comedy
                   ...
45440        Drama Action Romance
45441                       Drama
45442       Action Drama Thriller
45443                         NaN
45444                         NaN
Name: genre, Length: 45445, dtype: object

In [40]:
data

,id,title,genres,year,cast,crew,genre
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Animation Comedy Family
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Adventure Fantasy Family
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Romance Comedy
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",Comedy Drama Romance
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Comedy
...,...,...,...,...,...,...,...
45440,30840,Robin Hood,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",1991,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",Drama Action Romance
45441,111109,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",2011,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",Drama
45442,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2003,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",Action Drama Thriller
45443,227506,Satan Triumphant,[],1917,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",NaN
45444,461257,Queerama,[],2017,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",NaN

In [41]:
data.drop(columns='genres')

,id,title,year,cast,crew,genre
0,862,Toy Story,1995,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Animation Comedy Family
1,8844,Jumanji,1995,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Adventure Fantasy Family
2,15602,Grumpier Old Men,1995,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Romance Comedy
3,31357,Waiting to Exhale,1995,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",Comedy Drama Romance
4,11862,Father of the Bride Part II,1995,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Comedy
...,...,...,...,...,...,...
45440,30840,Robin Hood,1991,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",Drama Action Romance
45441,111109,Century of Birthing,2011,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",Drama
45442,67758,Betrayal,2003,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",Action Drama Thriller
45443,227506,Satan Triumphant,1917,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",NaN
45444,461257,Queerama,2017,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",NaN

In [42]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [43]:
data['actor_name1'] = data['cast'].map(lambda x: get_actor1(x))

In [44]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [45]:
data['actor_name2'] = data['cast'].map(lambda x: get_actor2(x))

In [48]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [49]:
data['actor_name3'] = data['cast'].map(lambda x: get_actor3(x))

In [50]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [51]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [52]:
data['director_name']

0           John Lasseter
1            Joe Johnston
2           Howard Deutch
3         Forest Whitaker
4           Charles Shyer
               ...
45440          John Irvin
45441            Lav Diaz
45442      Mark L. Lester
45443    Yakov Protazanov
45444       Daisy Asquith
Name: director_name, Length: 45445, dtype: object

In [54]:
new_data = data.loc[:,['title','genre','director_name','actor_name1','actor_name2','actor_name3','year']]

In [55]:
new_data

,title,genre,director_name,actor_name1,actor_name2,actor_name3,year
0,Toy Story,Animation Comedy Family,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,1995
1,Jumanji,Adventure Fantasy Family,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,1995
2,Grumpier Old Men,Romance Comedy,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,1995
3,Waiting to Exhale,Comedy Drama Romance,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,1995
4,Father of the Bride Part II,Comedy,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,1995
...,...,...,...,...,...,...,...
45440,Robin Hood,Drama Action Romance,John Irvin,Patrick Bergin,Uma Thurman,David Morrissey,1991
45441,Century of Birthing,Drama,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,2011
45442,Betrayal,Action Drama Thriller,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,2003
45443,Satan Triumphant,NaN,Yakov Protazanov,Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov,1917
45444,Queerama,NaN,Daisy Asquith,NaN,NaN,NaN,2017

In [56]:
new_data=new_data.rename(columns={'director_name':'director','actor_name1':'actor1','actor_name2':'actor2','actor_name3':'actor3'})

In [57]:
new_data

,title,genre,director,actor1,actor2,actor3,year
0,Toy Story,Animation Comedy Family,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,1995
1,Jumanji,Adventure Fantasy Family,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,1995
2,Grumpier Old Men,Romance Comedy,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,1995
3,Waiting to Exhale,Comedy Drama Romance,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,1995
4,Father of the Bride Part II,Comedy,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,1995
...,...,...,...,...,...,...,...
45440,Robin Hood,Drama Action Romance,John Irvin,Patrick Bergin,Uma Thurman,David Morrissey,1991
45441,Century of Birthing,Drama,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,2011
45442,Betrayal,Action Drama Thriller,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,2003
45443,Satan Triumphant,NaN,Yakov Protazanov,Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov,1917
45444,Queerama,NaN,Daisy Asquith,NaN,NaN,NaN,2017

In [58]:
new_data.isna().sum()

title          0
genre       2384
director     835
actor1      2354
actor2      3683
actor3      4593
year           0
dtype: int64

In [59]:
new_data = new_data.dropna(how='any')

In [60]:
new_data.isna().sum()

title       0
genre       0
director    0
actor1      0
actor2      0
actor3      0
year        0
dtype: int64

In [62]:
new_data

,title,genre,director,actor1,actor2,actor3,year
0,Toy Story,Animation Comedy Family,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,1995
1,Jumanji,Adventure Fantasy Family,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,1995
2,Grumpier Old Men,Romance Comedy,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,1995
3,Waiting to Exhale,Comedy Drama Romance,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,1995
4,Father of the Bride Part II,Comedy,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,1995
...,...,...,...,...,...,...,...
45438,The Burkittsville 7,Horror,Ben Rock,Monty Bane,Lucy Butler,David Grammer,2000
45439,Caged Heat 3000,Sci-Fi,Aaron Osborne,Lisa Boyle,Kena Land,Zaneta Polard,1995
45440,Robin Hood,Drama Action Romance,John Irvin,Patrick Bergin,Uma Thurman,David Morrissey,1991
45441,Century of Birthing,Drama,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,2011
45442,Betrayal,Action Drama Thriller,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,2003

In [63]:
new_data['date']=metadata['release_date']

C:\Users\ETUDIANT\AppData\Local\Temp\ipykernel_25948\2744096057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['date']=metadata['release_date']

In [64]:
new_data

,title,genre,director,actor1,actor2,actor3,year,date
0,Toy Story,Animation Comedy Family,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,1995,1995-10-30
1,Jumanji,Adventure Fantasy Family,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,1995,1995-12-15
2,Grumpier Old Men,Romance Comedy,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,1995,1995-12-22
3,Waiting to Exhale,Comedy Drama Romance,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,1995,1995-12-22
4,Father of the Bride Part II,Comedy,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,1995,1995-02-10
...,...,...,...,...,...,...,...,...
45438,The Burkittsville 7,Horror,Ben Rock,Monty Bane,Lucy Butler,David Grammer,2000,2015-04-02
45439,Caged Heat 3000,Sci-Fi,Aaron Osborne,Lisa Boyle,Kena Land,Zaneta Polard,1995,1944-06-01
45440,Robin Hood,Drama Action Romance,John Irvin,Patrick Bergin,Uma Thurman,David Morrissey,1991,2007-01-08
45441,Century of Birthing,Drama,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,2011,2002-03-07
45442,Betrayal,Action Drama Thriller,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,2003,1905-01-01

In [65]:
new_data.drop(columns='year')

,title,genre,director,actor1,actor2,actor3,date
0,Toy Story,Animation Comedy Family,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,1995-10-30
1,Jumanji,Adventure Fantasy Family,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,1995-12-15
2,Grumpier Old Men,Romance Comedy,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,1995-12-22
3,Waiting to Exhale,Comedy Drama Romance,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,1995-12-22
4,Father of the Bride Part II,Comedy,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,1995-02-10
...,...,...,...,...,...,...,...
45438,The Burkittsville 7,Horror,Ben Rock,Monty Bane,Lucy Butler,David Grammer,2015-04-02
45439,Caged Heat 3000,Sci-Fi,Aaron Osborne,Lisa Boyle,Kena Land,Zaneta Polard,1944-06-01
45440,Robin Hood,Drama Action Romance,John Irvin,Patrick Bergin,Uma Thurman,David Morrissey,2007-01-08
45441,Century of Birthing,Drama,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,2002-03-07
45442,Betrayal,Action Drama Thriller,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,1905-01-01

In [66]:
new_data['date']=pd.to_datetime(new_data['date'])

C:\Users\ETUDIANT\AppData\Local\Temp\ipykernel_25948\3602405778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['date']=pd.to_datetime(new_data['date'])

In [67]:
new_data

,title,genre,director,actor1,actor2,actor3,year,date
0,Toy Story,Animation Comedy Family,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,1995,1995-10-30
1,Jumanji,Adventure Fantasy Family,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,1995,1995-12-15
2,Grumpier Old Men,Romance Comedy,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,1995,1995-12-22
3,Waiting to Exhale,Comedy Drama Romance,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,1995,1995-12-22
4,Father of the Bride Part II,Comedy,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,1995,1995-02-10
...,...,...,...,...,...,...,...,...
45438,The Burkittsville 7,Horror,Ben Rock,Monty Bane,Lucy Butler,David Grammer,2000,2015-04-02
45439,Caged Heat 3000,Sci-Fi,Aaron Osborne,Lisa Boyle,Kena Land,Zaneta Polard,1995,1944-06-01
45440,Robin Hood,Drama Action Romance,John Irvin,Patrick Bergin,Uma Thurman,David Morrissey,1991,2007-01-08
45441,Century of Birthing,Drama,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,2011,2002-03-07
45442,Betrayal,Action Drama Thriller,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,2003,1905-01-01