In [5]:
import pandas as pd
import numpy as np
movie_data_2021 = pd.read_csv('airflow/data/movie2021.csv')
movie_data_2021['Ref.'] = movie_data_2021['Ref.'].fillna(movie_data_2021.pop('.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.'))

def get_directors(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    elif " (directors)" in x:
        return x.split(" director/screenwriter)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

movie_data_2021['director'] = movie_data_2021['Cast and crew'].map(lambda x: get_directors(str(x)))

def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

movie_data_2021['actor1'] = movie_data_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])
movie_data_2021['actor2'] = movie_data_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))

def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])
movie_data_2021['actor3'] = movie_data_2021['Cast and crew'].map(lambda x: get_actor3(str(x)))

movie_data_2021 = movie_data_2021.rename(columns={'Title':'title'})
movie_data_2021['year']='2021'
new_data_2021 = movie_data_2021.loc[:,['title','director','actor1','actor2','actor3','year']]
d={'JANUARY':'01','FEBRUARY':'02','MARCH':'03','APRIL':'04','MAY':'05','JUNE':'06','JULY':'07','AUGUST':'08','SEPTEMBER':'09','OCTOBER':'10','NOVEMBER':'11','DECEMBER':'12'}
new_data_2021['month']=movie_data_2021['Opening']
new_data_2021['day']=movie_data_2021['Opening.1']
new_data_2021['month']=new_data_2021['month'].map(d)

new_data_2021.dropna(inplace=True)
new_data_2021['day']=new_data_2021['day'].astype(int)

new_data_2021['year'] = new_data_2021['year'].astype(str)
new_data_2021['month'] = new_data_2021['month'].astype(str)
new_data_2021['day'] = new_data_2021['day'].astype(str)

new_data_2021['date']=new_data_2021['day']+'/'+new_data_2021['month']+'/'+new_data_2021['year']
new_data_2021['date']=pd.to_datetime(new_data_2021['date'])

new_data_2021.drop(columns={'year','day','month'})
new_data_2021=new_data_2021.drop_duplicates(subset=['title'])

C:\Users\ETUDIANT\AppData\Local\Temp\ipykernel_6212\2487549375.py:52: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  new_data_2021['date']=pd.to_datetime(new_data_2021['date'])

In [6]:
new_data_2021

,title,director,actor1,actor2,actor3,year,month,day,date
0,Shadow in the Cloud,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,2021,01,1,2021-01-01
1,The White Tiger,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,2021,01,13,2021-01-13
2,Locked Down,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,2021,01,14,2021-01-14
3,The Dig,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,2021,01,15,2021-01-15
4,Outside the Wire,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham,2021,01,15,2021-01-15
...,...,...,...,...,...,...,...,...,...
355,The King's Man,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,2021,12,22,2021-12-22
356,The Tragedy of Macbeth,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,2021,12,25,2021-12-25
357,A Journal for Jordan,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian,2021,12,25,2021-12-25
358,American Underdog,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,2021,12,25,2021-12-25
359,Memoria,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,2021,12,26,2021-12-26

In [7]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

movie_data_2021['actor1'] = movie_data_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [8]:
movie_data_2021['actor1']

0                                     Chloë Grace Moretz
1                                          Adarsh Gourav
2                                          Anne Hathaway
3                                         Carey Mulligan
4                                         Anthony Mackie
                             ...
356                                    Denzel Washington
357                                    Michael B. Jordan
358                                         Zachary Levi
359    Apichatpong Weerasethakul (director/acreenplay...
360                                                  nan
Name: actor1, Length: 361, dtype: object

In [9]:
import pandas as pd
import numpy as np
movie_data_2021 = pd.read_csv('airflow/data/movie2021.csv')
movie_data_2021['Ref.'] = movie_data_2021['Ref.'].fillna(movie_data_2021.pop('.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.'))

In [10]:
movie_data_2021

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,1.0,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay); Max Land...,[2]
1,JANUARY,13.0,The White Tiger,Netflix,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN
2,JANUARY,14.0,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,[3]
3,JANUARY,15.0,The Dig,Netflix / Clerkenwell Films,Simon Stone (director); Moira Buffini (screenp...,[4]
4,JANUARY,15.0,Outside the Wire,Netflix,"Mikael Håfström (director); Rob Yescombe, Rowa...",[5]
...,...,...,...,...,...,...
356,DECEMBER,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,[273]
357,DECEMBER,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,[274]
358,DECEMBER,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",[275]
359,DECEMBER,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,[276]
360,DECEMBER,NaN,NaN,NaN,NaN,NaN

In [14]:
import os
import numpy as np
os.environ['KAGGLE_USERNAME'] = "khaliloooojo" # username from the json file
os.environ['KAGGLE_KEY'] = "975fa88d4d3412eee830648e10973255" # key from the json file
os.system('kaggle datasets download -d komalkhetlani/imdb-dataset -p /opt/airflow/data --unzip')
data=pd.read_csv('airflow/data/Kaggle IMDB Data/ImdbTitleBasics.csv')
data_ratings=pd.read_csv('airflow/data/Kaggle IMDB Data/ImdbTitleRatings.csv')
data_ratings=data_ratings.rename(columns={'averageRating':'vote_average','numVotes':'vote_count'})

data["startYear"] = data["startYear"].replace("\\N", np.nan)
data = data.dropna(subset=["startYear"])
data["startYear"] = data["startYear"].astype(int)
data_2018 = data.loc[data.startYear >= 2018,['tconst','primaryTitle','genres']]
data_2018 = data_2018.replace("\\N", np.nan)
data_2018 = data_2018.dropna()
data_2018 = data_2018.drop_duplicates(subset=["primaryTitle"])
data_2018 = data_2018.rename(columns={'primaryTitle':'title','genres':'genre'})
data_2018['genre'] = data_2018['genre'].str.replace(',', ' ')
new_data=pd.merge(data_2018,data_ratings,on='tconst')

C:\Users\ETUDIANT\AppData\Local\Temp\ipykernel_6212\2630758145.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('airflow/data/Kaggle IMDB Data/ImdbTitleBasics.csv')

In [15]:
    import os
import numpy as np
os.environ['KAGGLE_USERNAME'] = "khaliloooojo" # username from the json file
os.environ['KAGGLE_KEY'] = "975fa88d4d3412eee830648e10973255" # key from the json file
os.system('kaggle datasets download -d komalkhetlani/imdb-dataset -p /opt/airflow/data --unzip')
data=pd.read_csv('/opt/airflow/data/Kaggle IMDB Data/ImdbTitleBasics.csv')
data_ratings=pd.read_csv('/opt/airflow/data/Kaggle IMDB Data/ImdbTitleRatings.csv')
data_ratings=data_ratings.rename(columns={'averageRating':'vote_average','numVotes':'vote_count'})

data["startYear"] = data["startYear"].replace("\\N", np.nan)
data = data.dropna(subset=["startYear"])
data["startYear"] = data["startYear"].astype(int)
data_2018 = data.loc[data.startYear >= 2018,['tconst','primaryTitle','genres']]
data_2018 = data_2018.replace("\\N", np.nan)
data_2018 = data_2018.dropna()
data_2018 = data_2018.drop_duplicates(subset=["primaryTitle"])
data_2018 = data_2018.rename(columns={'primaryTitle':'title','genres':'genre'})
data_2018['genre'] = data_2018['genre'].str.replace(',', ' ')
new_data=pd.merge(data_2018,data_ratings,on='tconst')
new_data.to_csv('/opt/airflow/data/enriched_data_wiki.csv', encoding='utf-8',index=False)
new_data['title'] = new_data['title'].str.lower()
data_wiki=pd.read_csv('/opt/airflow/data/Kaggle IMDB Data/new_data_wiki.csv')
data_wiki['title'] = data_wiki['title'].str.lower()
dataf = pd.merge(new_data,data_wiki,on='title')
dataf.to_csv('/opt/airflow/data/dataf.csv')
enrich_wiki_node = PythonOperator(

SyntaxError: unexpected EOF while parsing (792205766.py, line 26)

In [16]:
import os
import numpy as np
os.environ['KAGGLE_USERNAME'] = "khaliloooojo" # username from the json file
os.environ['KAGGLE_KEY'] = "975fa88d4d3412eee830648e10973255" # key from the json file
os.system('kaggle datasets download -d komalkhetlani/imdb-dataset -p /opt/airflow/data --unzip')
data=pd.read_csv('/opt/airflow/data/Kaggle IMDB Data/ImdbTitleBasics.csv')
data_ratings=pd.read_csv('/opt/airflow/data/Kaggle IMDB Data/ImdbTitleRatings.csv')
data_ratings=data_ratings.rename(columns={'averageRating':'vote_average','numVotes':'vote_count'})

data["startYear"] = data["startYear"].replace("\\N", np.nan)
data = data.dropna(subset=["startYear"])
data["startYear"] = data["startYear"].astype(int)
data_2018 = data.loc[data.startYear >= 2018,['tconst','primaryTitle','genres']]
data_2018 = data_2018.replace("\\N", np.nan)
data_2018 = data_2018.dropna()
data_2018 = data_2018.drop_duplicates(subset=["primaryTitle"])
data_2018 = data_2018.rename(columns={'primaryTitle':'title','genres':'genre'})
data_2018['genre'] = data_2018['genre'].str.replace(',', ' ')
new_data=pd.merge(data_2018,data_ratings,on='tconst')
new_data.to_csv('/opt/airflow/data/enriched_data_wiki.csv', encoding='utf-8',index=False)
new_data['title'] = new_data['title'].str.lower()
data_wiki=pd.read_csv('/opt/airflow/data/Kaggle IMDB Data/new_data_wiki.csv')
data_wiki['title'] = data_wiki['title'].str.lower()
dataf = pd.merge(new_data,data_wiki,on='title')
dataf.to_csv('/opt/airflow/data/dataf.csv')
enrich_wiki_node = PythonOperator(

SyntaxError: unexpected EOF while parsing (2521415286.py, line 26)

In [27]:
import os
import numpy as np
os.environ['KAGGLE_USERNAME'] = "khaliloooojo" # username from the json file
os.environ['KAGGLE_KEY'] = "975fa88d4d3412eee830648e10973255" # key from the json file
os.system('kaggle datasets download -d komalkhetlani/imdb-dataset -p airflow/data --unzip')
data=pd.read_csv('airflow/data/Kaggle IMDB Data/ImdbTitleBasics.csv')
data_ratings=pd.read_csv('airflow/data/Kaggle IMDB Data/ImdbTitleRatings.csv')
data_ratings=data_ratings.rename(columns={'averageRating':'vote_average','numVotes':'vote_count'})

C:\Users\ETUDIANT\AppData\Local\Temp\ipykernel_6212\3096905377.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('airflow/data/Kaggle IMDB Data/ImdbTitleBasics.csv')

In [29]:
data["startYear"] = data["startYear"].replace("\\N", np.nan)
data = data.dropna(subset=["startYear"])
data["startYear"] = data["startYear"].astype(int)
data_2018 = data.loc[data.startYear >= 2018,['tconst','primaryTitle','genres']]
data_2018 = data_2018.replace("\\N", np.nan)
data_2018 = data_2018.dropna()
data_2018 = data_2018.drop_duplicates(subset=["primaryTitle"])
data_2018 = data_2018.rename(columns={'primaryTitle':'title','genres':'genre'})
data_2018['genre'] = data_2018['genre'].str.replace(',', ' ')
new_data=pd.merge(data_2018,data_ratings,on='tconst')
new_data['title'] = new_data['title'].str.lower()
data_wiki=pd.read_csv('airflow/data/new_data_wiki.csv')
data_wiki['title'] = data_wiki['title'].str.lower()
dataf = pd.merge(new_data,data_wiki,on='title')
dataf.to_csv('airflow/data/enriched_data_wiki.csv', encoding='utf-8',index=False)

In [2]:
import pandas as pd

In [24]:
df = pd.read_csv('airflow/data/final_data.csv')

In [25]:
df['release_date']=pd.to_datetime(df['release_date'])

In [26]:
df.dtypes

title                   object
genre                   object
director                object
actor1                  object
actor2                  object
actor3                  object
release_date    datetime64[ns]
vote_average           float64
vote_count             float64
dtype: object

In [27]:
 year = df['release_date'].year

AttributeError: 'Series' object has no attribute 'year'

In [14]:
year[0]

2019

In [28]:
df_iterable = df.iterrows()

In [29]:
for index, row in df_iterable:

    year = row['release_date'].year
    #year = row['release_date'].year
    #month = row['release_date'].month
    #quarter = row['release_date'].quarter

In [31]:
type(year)

int

In [ ]:
    import pandas as pd
    with open("airflow/data/inserts.sql", "w",encoding='utf-8') as f:
    df = pd.read_csv('airflow/data/final_data.csv')
    df_iterable = df.iterrows()
    f.write(
        "CREATE TABLE IF NOT EXISTS movie_ratings (\n"
        "title_movie VARCHAR(255) primary key,\n"
        "genre VARCHAR(255)\n"
        "rating FLOAT,\n"
        "vote_count FLOAT );\n"

        "CREATE TABLE IF NOT EXISTS dates (\n"
        "date VARCHAR(45) primary key,\n"
        "month int(2),\n"
        "quarter int(1),\n"
        "year int(4));\n"

        "CREATE TABLE IF NOT EXISTS cast_and_crew (\n"
        "director VARCHAR(255) ,\n"
        "actor1 VARCHAR(255) ,\n"
        "actor2 VARCHAR(255) ,\n"
        "actor3 VARCHAR(255) ,\n"
        "PRIMARY KEY (director, actor1));\n"

        "CREATE TABLE IF NOT EXISTS fact_movies (\n"
        "id_fact_movies integer not null auto_increment primary key,\n"
        "title VARCHAR(255) ,\n"
        "date VARCHAR(255) ,\n"
        "director VARCHAR(255) ,\n"
        "actor1 VARCHAR(255) ,\n"
        "FOREING KEY (director,actor1) REFERENCES cast_and_crew (director, actor1),\n"
        "FOREING KEY (title) REFERENCES movies (title_movie),\n"
        "FOREING KEY (date) REFERENCES dates (date));\n"

    )
    for index, row in df_iterable:
        title_movie = row['title']
        genre = row['genre']
        rating = row['vote_average']
        vote_count = row['vote_count']

        actor2 = row['actor2']
        actor3 = row['actor3']

        date = row['release_date']
        year = row['release_date'].year
        month = row['release_date'].month
        quarter = row['release_date'].quarter

        title= row['title']
        director = row['director']
        actor1 = row['actor1']


        f.write(
            "DELETE FROM movies \n"
            f"WHERE title_movie = '{title_movie}' and genre = '{genre}' and rating = '{rating}' and vote_count='{vote_count}';\n"

            "DELET FROM cast_and_crew \n"
            f"WHERE director = '{director}' and actor1 = '{actor1}' and actor2 = '{actor2}' and actor3='{actor3}';\n"

            "DELETE FROM dates \n"
            f"WHERE date = '{date}' and year = '{year}' and month = '{month}' and quarter='{quarter}';\n"

            "DELETE FROM fact_movies \n"
            f"WHERE title = '{title}' and date = '{date}' and director = '{director}' and actor1='{actor1}';\n"


        )

    f.close()